body {
    font-family: Arial;
    text-align: center;
    background-color: lightgray;
}

h1 {
    color: darkblue;
}

a {
    text-decoration: none;
    color: red;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
}
